<%= form_with(model: stream) do |form| %>
  <% if stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
        <% stream.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.datetime_select :date, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :country %>
    <%= form.text_field :country, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :twoweek_cumulative %>
    <%= form.text_field :twoweek_cumulative, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :departure %>
    <%= form.text_field :departure, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :self_isolation %>
    <%= form.text_field :self_isolation, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :stream_user_id, class:"form-control", type: :hidden, value: current_user.id %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-primary m-1" %>
  </div>
<% end %>
