<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th style="width: 8%">Date</th>
      <th>Country</th>
      <th>Two week cumulative</th>
      <th>Departure</th>
      <th>Self isolation</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream.id %></td>
        <td><%= stream.date.strftime("%Y-%m-%d") %></td>
        <td><%= stream.country %></td>
        <td><%= stream.twoweek_cumulative %></td>
        <td><%= stream.departure %></td>
        <td><%= stream.self_isolation %></td>
        <td><%= link_to 'Show', stream %></td>
        <td><%= link_to 'Edit', edit_stream_path(stream) %></td>
        <td><%= link_to 'Destroy', stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @streams %>
