<p id="notice"><%= notice %></p>

<%= form_tag streams_path, method: :get do %>
  <div class="form-group">
    <%= label_tag :country %>
    <%= text_field_tag :country, params[:country], class: 'form-control' %>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <%= label_tag :from %>
      <%= date_field_tag :from, params.dig(:date, :from_date), name: 'date[from_date]', class: 'form-control' %>
    </div>

    <div class="col-6">
      <%= label_tag :to %>
      <%= date_field_tag :to, params.dig(:date, :to_date), name: 'date[to_date]', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <%= link_to 'Clear', streams_path, class: 'btn btn-link' %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th style="width: 8%">Date</th>
      <th>Country</th>
      <th>Two week cumulative</th>
      <th>Departure</th>
      <th>Self isolation</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream.id %></td>
        <td><%= stream.date.strftime("%Y-%m-%d") %></td>
        <td><%= stream.country %></td>
        <td><%= stream.twoweek_cumulative %></td>
        <td><%= stream.departure %></td>
        <td><%= stream.self_isolation %></td>
        <td><%= link_to 'Show', stream %></td>
        <td><%= link_to 'Edit', edit_stream_path(stream) %></td>
        <td><%= link_to 'Destroy', stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @streams %>
