<p id="notice"><%= notice %></p>

<div class="bg-light p-5 rounded-lg m-3">
<p>
  <strong>Date:</strong>
  <%= @stream.date %>
</p>

<p>
  <strong>Country:</strong>
  <%= @stream.country %>
</p>

<p>
  <strong>Twoweek cumulative:</strong>
  <%= @stream.twoweek_cumulative %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @stream.departure %>
</p>

<p>
  <strong>Self isolation:</strong>
  <%= @stream.self_isolation %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream), class:"btn btn-primary m-1" %>
<%= link_to 'Back', streams_path, class:"btn btn-primary m-1" %>
</div>